//
	Created by Ashok on 4/30/2014.
head
	title Node Authentication
	link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
	link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
	style
		body{padding-top:80px;word-wrap:break-word}
body
	.container
		.page-header.text-center
			h1
				span.fa.fa-anchor
				| Profile Page
			a.btn.btn-default.btn-sm(href='/logout') Logout
		.row
			.col-sm-6
				.well
					h3
						span.fa.fa-user
						| Local
					p
						strong id
						| :#{user._id}
						br
						strong email
						| :#{user.local.email}
						br
						strong Hashed Password
						| :#{user.local.password}

